body {
	padding-top: 50px;
}
html, body {
	min-height: 100vh;
}
.jumbotron {
	background-color: #dec;
	padding-top: 0;
}
.menuicon {
	width: 24px;
	height: 24px;
}
@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}
.tooltip > * {
	font-size: larger;
}

.footer-container {
	position: absolute;
	bottom: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	background-color: #454;
}
.carousel-inner > .item > img {
	height: 300px;
	position: absolute;
	top: 0;
	left: auto;
	right: auto;
	width: auto;
}

.carousel-control {
	height: 300px;
	position: absolute;
	width: 10%;
}

.carousel .item img {
	opacity:0.5;
	float: left;
	margin-left: 10%;
}


span.debug-aid
{
	display: none;
	position: fixed;
	top: 0px;
	padding: 3px;
	border: 2px solid black;
	right: 1px;
	color: red;
	background: #dda;
	font-weight: bold;
	z-index: 30000;
}

	</style>

