{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{title}}</title>
	<meta name="description" content="">
	<meta name="author" content="{{author}}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
	<link rel="stylesheet" href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css' />
	<link rel="stylesheet" href='{% static 'menjobe/css/main.css' %}' />
	{% block extraheadercss %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
	<link rel="stylesheet" href="//fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css" />
	<style>
		.notyetimplemented {
			display: none !important;
		}
	</style>
	{% endblock extraheadercss %}
</head>
<body>
<img class='hidden-xs' style='position:absolute; top:0; left:0;z-index: 50000;' src='{% static 'menjobe/images/prototyperibbon.png' %}' />
<div class='visible-xs' style='text-align: center; padding: 1ex; color: white; background:#a02c2c; border-bottom: 2pt solid #400;'>Prototip: Dades de mentida!</div>

<!--
<span class='debug-aid visible-xs'>xs</span>
<span class='debug-aid visible-sm'>sm</span>
<span class='debug-aid visible-md'>md</span>
<span class='debug-aid visible-lg'>lg</span>
-->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-inner">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Menjo bé</a>
		</div>

		<div class="collapse navbar-collapse" role="navigation">
			<ul class='nav navbar-nav' id='menjobe_menubar'>
				<li class="divider"></li>
				<li id='navbar-productsTab'><a href="#">
					<img class='menuicon' src="{% static 'menjobe/images/product.png' %}" alt="Productes" />
					<span>Productes</span>
				</a></li>
				<li id='navbar-channelsTab'><a href='#'>
					<img class='menuicon' src="{% static 'menjobe/images/channel.png' %}" alt="Canals" />
					<span>Canals</span>
				</a></li>

				<li id='navbar-producersTab'><a href="#">
					<img class='menuicon' src="{% static 'menjobe/images/pagesia.png' %}" alt="Pagesia" />
					<span>Pagesia</span>
				</a></li>
			</ul>
			<div class="nav navbar-nav navbar-right">
				<button class='btn btn-default navbar-btn' href="#todo">Registra't</button>
				<span class='dropdown'>
					<button class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">
						Entra <strong class="caret"></strong>
					</button>
					<div class="dropdown-menu" role='menu' style="padding: 15px; padding-bottom: 0px;">
						<form class="form" role="form">
							<div class="form-group">
								<input type="text" placeholder="Email" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" class="form-control">
							</div>
							<div class="form-group">
								<span class='form-group'>
									<input id="user_remember_me" type="checkbox" name="user[remember_me]" value="1" />
									<label for='user_remember_me'>Recorda'm</label>
								</span>
								<button type="submit" class="btn btn-success" style="width: 100%; height: 32px; font-size: 13px;" >Entra</button>
							</div>
						</form>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>

{% block content %}

<div id='page-frontpage'>
	<div class="jumbotron">
		<div class="container">
			<h1>Menja bé, menja del Baix</h1>
			<p>Troba productes d'alimentació produïts a prop del teu municipi.</p>
		</div>
		<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img
						style = 'float: right'
						src='{% static "menjobe/images/channel.svg" %}' >
					<div class="carousel-caption">
						<h2>Impulsa l'economia local</h2>
						<p>Productors i consumidors aconseguim preus més justos
						sense la gran distribució en mig.</p>
						<p><a class="btn btn-default" href="javascript:notImplemented()" role="button">Llegir-ne més &raquo;</a></p>
					</div>
				</div>
				<div class="item">
					<img
						style = 'float: right'
						src='{% static "menjobe/images/product.svg" %}' >
					<div class="carousel-caption">
						<h2>Redueix la petjada de carboni</h2>
						<p>No cal que el menjar viatgi tants kilòmetres quan en tenim aquí.</p>
						<p><a class="btn btn-default" href="javascript:notImplemented()" role="button">Llegir-ne més &raquo;</a></p>
					</div>
				</div>
				<div class="item">
					<img
						style = 'float: right'
						src='{% static "menjobe/images/pagesia.svg" %}' >
					<div class="carousel-caption">
						<h2>Protegeix l'entorn rural</h2>
						<p>Recolzant als nostres pagesos compensem la pressió especulativa sobre el territori.</p>
						<p><a class="btn btn-default" href="javascript:notImplemented()" role="button">Llegir-ne més &raquo;</a></p>
					</div>
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>


	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img
					style = 'float: right'
					src='{% static "menjobe/images/product.png" %}' >
				<h2>Productes</h2>
				<p>Cerca a on pots trobar un producte en concret navegant per tipus de producte. </p>
				<p><a class="btn btn-default" href="productsearch" role="button">Cercar productes &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<img
					style = 'float: right'
					src='{% static "menjobe/images/channel.png" %}' >
				<h2>Canals de venda</h2>
				<p>Explora els diferents canals i que ofereixen. </p>
				<p><a class="btn btn-default" href="javascript:notImplemented()" role="button">Explorar els canals  &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<img
					style = 'float: right'
					src='{% static "menjobe/images/pagesia.png" %}' >
				<h2>Pagesia</h2>
				<p>Coneix més sobre els teus veïns pagesos, les seves explotacions i els mètodes de cultiu que fan servir. </p>
				<p><a class="btn btn-default" href="javascript:notImplemented()" role="button">Conéixer els meus veïns &raquo;</a></p>
			</div>
		</div>

	</div>
</div> <!-- frontpage -->

<div class='container hidden' id='page-notimplemented'>
	<div class='alert alert-warning'>
		La funcionalitat encara no esta implementada
	</div>
</div>

<div class='container hidden' id='page-productSearch'>

	<h2>Cerca on comprar un producte</h2>

	<div class='row'>
		<input
			class='col-xs-10 input-lg select2 form-control'
			type='hidden'
			id='productselector'
			data-placeholder='Trieu un producte del camp'
			/>
	</div>
</div>

<div class='container hidden' id='page-productRetailers'>
	<h3 >Canals on pots trobar: <span id='producttitle'></span></h3>
	<div>
		<div id='retailersList' class='list-group'>
			<a class='list-group-item list-group-item-warning'>No heu triat cap producte</a>
		</div>
	</div>
	<div class='pull-right'>
		<a class='btn btn-success' id='addProductRetailerBtn'>
			<span class="glyphicon glyphicon-plus"></span>
			En saps cap més?
		</a>
		<div class='btn btn-warning btn-dropdown notyetimplemented'>
			<span class="glyphicon glyphicon-filter"></span>
			Filtreu
			<span class="caret"></span>
		</div>
	</div>
</div>

<hr />

<div id='page-retailerInfo' class='container hidden'>
	<div class='row'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h1 class='panel-title'>
					<img style='width:3ex' src="{% static 'menjobe/images/channel.png' %}" />
					<span id='retailerinfo_name'>No hi ha cap canal seleccionat</span>
				</h1>
			</div>
			<div class='panel-body row'>
				<div class='col-sm-4'>
					<address id='retailerinfo_address' style='white-space:pre-line' class='col-md-12 center-block center-text'></address>

					<div id='retailerinfo_image' class='text-center row notyetimplemented'>
						<img class='col-xs-10 col-xs-offset-1'
							src="{% static 'menjobe/images/channel.svg' %}"
							{# src="http://esplet.bligoo.com/media/users/22/1137106/images/public/309749/DSC_0003.JPG?v=1390496569811" #}
					/>

					</div>
					<div class='row notyetimplemented' id='retailerinfo_contacts'>
						<a class='btn col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 btn-default' href='http://lala.com'><span class="glyphicon glyphicon-globe"></span> Blog</a>
						<a class='btn col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 btn-success' href='http://lalo.com'><span class="glyphicon glyphicon-globe"></span> Comandes</a>
						<a class='btn col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 btn-warning' href='mailto:me@lala.com'><span class="glyphicon glyphicon-envelope"></span> me@lala.com</a>
						<a class='btn col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 btn-info'    href='tel:342-423-234'><span class="glyphicon glyphicon-earphone"></span> 342 423 234</a>
					</div>
				</div>
				<div class='col-sm-8'>
					<div id="retailerinfo_description"></div>
				</div>
				<div class='col-sm-12 text-right'>
					<div class='row'>
						<div class='btn btn-default notyetimplemented'>
							<span class="glyphicon glyphicon-map-marker"></span>
							Mapa
						</div>
						<a class='btn btn-default' id='retailerinfo_editbtn'>
							<span class="glyphicon glyphicon-pencil"></span>
							Edita
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='container hidden' id='page-retailerProducts'>
	<h3>Productes locals oferts per: <span id='retailertitle'></span></h3>
	<div>
		<div id='productList' class='list-group'>
			<a class='list-group-item list-group-item-warning'>No heu triat cap canal</a>
		</div>
	</div>
	<div class='pull-right'>
		<div class='btn btn-success' id='addRetailerProductBtn'>
			<span class="glyphicon glyphicon-plus"></span>
			Que tènen quelcom més?
		</div>
		<div class='btn btn-warning btn-dropdown notyetimplemented'>
			<span class="glyphicon glyphicon-filter"></span>
			Filtreu
			<span class="caret"></span>
		</div>
	</div>
</div>
{% endblock content %}


<div id="footer-container">
<footer class="wrapper text-right">
<hr>
<p>
© Copyright GuifiBaix SCCL 2014
</p>
<p>
<a
	data-toggle="tooltip"
	data-placement="top"
	title="Els continguts d'aquesta web estan subjectes a una llicència Reconeixement-CompartirIgual 4.0 Internacional de Creative Commons"
	rel="license"
	target='blank'
	href="http://creativecommons.org/licenses/by-sa/4.0/">
	<img
		alt="Llicència de Creative Commons"
		style="border-width:0"
		src="{% static 'menjobe/images/ccbysa-4.0-88x31.png' %}" />
</a>
<a
	data-toggle="tooltip"
	data-placement="top"
	title="El programari que fa funcionar aquesta web està subjecte a una licencia GNU Affero GPL versió 3.0 o superior"
	rel='license'
	target='blank'
	href='https://www.gnu.org/licenses/agpl-3.0.html'>
	<img alt='Llicencia GNU Affero General Public License' src='{% static 'menjobe/images/agplv3-88x31.png' %}' /></a>
<a
	data-toggle="tooltip"
	data-placement="top"
	title="El codi font del programari que mou aquesta web el pots trobar al GitHub, per usar-ho, estudiar-ho, modificar-ho i distribuir-ho, segons la llicència"
	rel='source'
	target='blank'
	href='http://github.com/vokimon/menjobe'>
	<img height=31px src='{% static 'menjobe/images/logo-github.svg' %}'></a>
</p>
</footer>
</div>

<div class="modal fade" id="notImplemented" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Tanca</span></button>
        <h4 class="modal-title" id="myModalLabel">Funcionalitat no implementada</h4>
      </div>
      <div class="modal-body ">
        <p>Aquesta funcionalitat encara no està feta.</p>
        <p>Recorda, la web la fem voluntaris, i tu pots ajudar!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Tanca</button>
      </div>
    </div>
  </div>
</div>

</body>
	<script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
	{% block extraheaderjs %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
	{% endblock extraheaderjs %}
	<script src='{% static 'menjobe/js/main.js' %}'></script>
<script>
$(function () {
	msg_loadingData = "S'esta carregant la informació...";
	msg_noRetailerProducts = "No hi ha productes per aquest punt de venda";
	msg_noProductRetailers = "No hi ha punts de venda pel producte";
	msg_loadError = "S'ha produït un error quan es carregava la informació";
	msg_noDescription = "No hi ha descripció";

	function productSelectFormat(product) {
		if (!product.id) return product.name; // optgroup
		return "<img class='menuicon' src='{% static 'menjobe/images/product.png' %}'/> " + product.name;
	}

	function setupProductSelector(values) {
		products = values;
		for (var i=0; i<values.length; i++)
			values[i].text = values[i].name;
		$("#productselector").select2({
			allowClear: true,
			data: products,
			formatResult: productSelectFormat,
			formatSelection: productSelectFormat,
			dropdownCssClass: "bigdrop",
//			escapeMarkup: function (m) { return m; } // as is
			}).change(function(val) {
				if (!val.added) return;
				queryProductRetailers(val.added.id, val.added.name);
			});
		}

	function queryProductRetailers(productId, productName) {
		$('#producttitle').html(productName)
		$('#retailersList').html('<a class="list-group-item">Cercant...</a>');
		$.ajax({
			type: 'GET',
			datatype: 'json',
			url: '/json/productretailers/'+productId,
			success: function(data) {
				loadProductRetailers(data);
			},
		});
		$('#addProductRetailerBtn').attr('href', "/admin/menjobe/retailpoint/");
	}

	function loadProductRetailers(retailers) {
		$('#page-retailerInfo').addClass('hidden');
		$('#page-retailerProducts').addClass('hidden');
		html=[]
		if (retailers.length==0)
			html.push(
				"<a class='list-group-item list-group-item-danger'>"
				+msg_noProductRetailers+'</a>');
		$.each(retailers, function(i, row) {
			html.push(
				$('<a>').attr({
					'class': 'list-group-item list-item-product-retailer',
					'data-id': row.id,
					}).text(row.name)
				);
			});
		$('#retailersList').html(html);
		$('.list-item-product-retailer').click(function () {
			$('#retailersList .list-group-item').removeClass('active');
			$(this).addClass("active");
			loadProductDetails($(this));
		});
	}
	$('#retailerinfo_productsbtn').click(function() {
		var page = $('#page-retailerInfo')
		var retailerId = page.attr("data-id");
		var retailerName = page.attr("data-name");
		queryRetailerProducts(retailerId, retailerName)
	});

	function loadProductDetails(link) {
		var retailerId = $(link).attr('data-id');
		var retailerName = $(link).html();
		var descriptionTag = $('#retailerinfo_description');
		$("#page-retailerInfo").attr('data-id', retailerId);
		$("#page-retailerInfo").attr('data-name', retailerName);
		descriptionTag.removeClass();
		descriptionTag.addClass("alert alert-info");
		descriptionTag.html(msg_loadingData);
		$('#retailerinfo_name').html(retailerName);
		$('#retailerinfo_address').html("");
		$('#page-retailerInfo').removeClass('hidden');
		$.ajax({
			type: 'GET',
			datatype: 'json',
			url: '/json/retailer/'+retailerId,
			error: function(response) {
				descriptionTag.removeClass();
				descriptionTag.addClass("alert alert-error");
				descriptionTag.html(msg_loadError);
			},
			success: function(data) {
				descriptionTag.removeClass();
				descriptionTag.html(data.descriptionHtml || "<p class='panel-warning'>"+msg_noDescription+"</p>" );
				$('#retailerinfo_address').html(data.address);
				$('#retailerinfo_editbtn').attr('href', "/admin/menjobe/retailpoint/"+retailerId);
			},
		});
		queryRetailerProducts(retailerId, retailerName);
	}

	function queryRetailerProducts(retailerId, retailerName) {
		$('#page-retailerProducts').removeClass('hidden');
		$('#page-retailerProducts #retailertitle').html(retailerName)
		$('#page-retailerProducts #productList').html($('<a>').attr({
			class: 'list-group-item list-group-item-info'
			}).text(msg_loadingData));
		$.ajax({
			type: 'GET',
			datatype: 'json',
			url: '/json/retailer/'+retailerId+'/products',
			error: function(response) {
				alert("TODO: No he pogut baixar els productes del canal");
			},
			success: function(products) {
				renderRetailerProducts(products);
			},
		});
	}

	function renderRetailerProducts(products) {
		$('#page-*').addClass('hidden');
		$('#page-retailerProducts').removeClass('hidden');
		html=[]
		if (products.length==0)
			html.push(
				"<a class='list-group-item list-group-item-danger'>"
				+msg_noRetailerProducts+'</a>');
		$.each(products, function(i, row) {
			html.push(
				$('<a>').attr({
					'class': 'list-group-item list-item-retailer-product',
					'data-id': row.id,
					}).text(row.name)
				);
			});
		$('#productList').html(html);
	}

	function hideAllPages() {
		pages = $("[id^='page-']");
		pages.addClass('hidden');
	}

	function navChange(tabid) {
		
		$('#menjobe_menubar .active').removeClass('active')
		$(tabid).addClass('active');
		hideAllPages();
	}

	function channelSearch() {
		navChange('#navbar-channelsTab');
		$('#page-notimplemented').removeClass('hidden');
	}

	function producerSearch() {
		navChange('#navbar-producersTab');
		$('#page-notimplemented').removeClass('hidden');
	}

	function productSearch()
	{
		navChange('#navbar-productsTab');
		$('#page-productSearch').removeClass('hidden');
		$('#page-productRetailers').removeClass('hidden');
		$.ajax({
			type: 'GET',
			datatype: 'json',
			url: '/json/allproducts',
			success: function(data) {
				setupProductSelector(data);
			},
		});
	}
	
	$('#navbar-productsTab').click(productSearch);
	$('#navbar-channelsTab').click(channelSearch);
	$('#navbar-producersTab').click(producerSearch);

});

function debug(obj) {
	result = "";
	$.each(obj, function (key,val) {
		result += key+": "+val+'\n';
	});
	return result;
}

</script>

</html>
