{% extends "menjobe/home.html" %}

{% block content %}

<select id='productSelect'>
</select>
<ul id='retailersList'>
</ul>

<script>
$(function () {
	$.ajax({
		type: 'GET',
		datatype: 'json',
		url: '/json/allproducts',
		success: function(data) {
			var html = []
			var firstItemText = (data.length==0)?
				"No hi ha productes disponibles" :
				"Escull un producte";
			html.push(
				'<option disabled selected>'+firstItemText+'</option>\n');
			for (var i=0; i<data.length; i++) {
				var row=data[i];
				html.push(
					'<option value='+row.id+'>'+row.name+'</option>\n');
			}
			$('#productSelect').html(html.join(''));
		},
	});
	$('#productSelect').change(function (ev) {
			var productId = $(this).val();
			$.ajax({
				type: 'GET',
				datatype: 'json',
				url: '/json/productretailers/'+productId,
				success: function(data) {
					console.log(data);
					html=[]
					if (data.length==0)
						html.push(
							"<li>"+"No hi ha punts de venda pel producte"+'</li>');
					for (var i=0; i<data.length; i++) {
						var row=data[i];
						html.push(
							"<li>"+row.name+"</li>\n");
						}
				$('#retailersList').html(html.join(''));
				},
			});
		})
});
</script>

{% endblock content %}

